@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?30973173');
  src: url('../font/fontello.eot?30973173#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?30973173') format('woff'),
       url('../font/fontello.ttf?30973173') format('truetype'),
       url('../font/fontello.svg?30973173#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?30973173#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\e808'; } /* '' */
.icon-info-circled:before { content: '\e80d'; } /* '' */