/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
ul , li  {
	margin: 0;
	padding: 0;
	list-style: none;
}

.template {
	display: none;
}
.head {
	position: absolute;
	left:0;
	right: 0;
	top: 0;
	height: 2rem;
	line-height: 2rem;
	background-color: #41A4FF;
	color: #5ff;
	font-size:.825rem;
	padding-left: .3rem;
	display: flex;
}

.head a {
	flex : 1;
	text-align: center;
}
.head a.on {
	color: #fff;
} 

.nav .upper {
	position: absolute;
	right: 0;
	top: 0;
	width: 3rem;
	font-size: .75rem;
	line-height: 1.5rem;
}
.nav .upper.pressed {
	background-color: #ddd;
}

.content {
	position: absolute;
	top: 2rem;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}
.content .nav {
	position: absolute;
	top:0;
	height: 1.5rem;
	left: 0;
	right: 0;
	background-color: #efefef;
	font-size: .75rem;
	line-height: 1.5rem;
	padding-left: .5rem;
}
.content .opers {
	position: absolute;
	left: 0;
	right: 0;
	height: 3rem;
	background-color: #fbfbfb;
	display: flex;
	bottom: 0;
	-webkit-transition : -webkit-transform .3s linear;
	-webkit-transform: translateY(0) translateZ(0);
}
.content .opers.down {
	-webkit-transform: translateY(3rem) translateZ(0);
}

.content .opers a:BEFORE {
	font-size: 1rem;
	display: block;	
}

.content .opers a {
	padding-top: .5rem;
	flex : 1;
	text-align: center;
	font-size: .75rem;
	color: #444;
} 
.content .opers a.pressed {
	background-color: #444;
	color: #fff;
}

.content .list {
	position: absolute;
	top: 1.5rem;
	left: 0;
	right: 0;
	bottom: 3rem;
	background-color: #fefefe;
	overflow: hidden;
}
.content .list ul li {
	position: relative;
	height: 2.5rem;
	font-size: .75rem;
	border-bottom: 1px solid #ccc;
}
.content .list ul li.pressed {
	background-color: #999;
}
.content .list ul li .icon {
	position: absolute;
	left: 2.1rem;
	width: 1.5rem;
	height: 1.5rem;
	top: .5rem;
	background-size: 1.5rem 1.5rem;
}
.content .list ul li .icon.folder {
	background-image: url('../img/folder.png');
}

.content .list ul li .icon.file {
	background-image: url('../img/file.png');
}
.content .list ul li .name {
	position: absolute;
	left:3.9rem;
	top: .5rem;
	width: 14rem;
	height: 1.8rem;
	line-height: 1.8rem;
}
.content .list ul li .check {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 1.2rem;
	padding: .5rem;
	color: #777;
	font-size: 1.25rem;
}
.content .list ul li .check.icon-check {
	color: #41a4ff;
}

.grid9 .line {
	display: flex;
	border-bottom: 1px solid #ddd;
}

.grid9 .line a {
	flex : 1;
	height: 6rem;
	text-align: center;
	font-size: .75rem;
	border-left : 1px solid #ddd;
	margin-left: -1px;
}

.grid9 .line a:BEFORE {
	margin-top: 1.5rem;
	margin-bottom: .4rem;
	font-size: 1.25rem;
	display: block;	
}

.grid9 .line a i {
	display: block;
	font-style: normal;
	margin-top: .1rem;
	font-size: .675rem;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display:none;
	background-color: rgba(0,0,0,0.8);
}
.overlay .dialog {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #efefef;
}

.overlay .dialog .title {
	text-align: center;
	font-size: .75rem;
	padding: 1rem;
}

.overlay .dialog .dlgcontent {
	padding: .5rem;
}

.overlay .dialog .dlgcontent input {
	padding: .5rem;
	width: 16rem;
	border: 1px solid #ddd;
}

.overlay .dialog .btns {
	text-align: center;
	padding: 1rem;
}
.overlay .dialog .btns a.btn {
	font-size: .75rem;
	color: #666;
	text-align: center;
	padding: .3rem 1rem;
	border: 1px solid #ddd;
	border-radius: .5rem;
}
.overlay .dialog .btns a.btn.pressed {
	background-color: #444;
	color: #fff;
}

.horiscroll {
  position: absolute;
  z-index: 1;
  width: 54rem;
  height: 100%;
}

.horiscroll li.tab {
	position:relative;
	display:block;
	float: left;
	width: 18rem;
	height: 30rem;
	background-color: #fefefe;
}

#indicator {
  position: absolute;
  top: 1.8rem;
  left: 0;
  right: 0;
  height: .1rem;
  z-index: 99;
}

#dotty {
  width: 6rem;
  height: 0.1rem;
  text-align: center;
}
#dotty .idx {
  background-color: white;
  width: 4rem;
  margin-left: 1rem;
  height: .1rem;
}


.notlogon {
	padding: 1rem;
}
.login-to-weibo {
	background-color: 	#41A4FF;
	color: white;
	text-align: center;
	width: 8rem;
	padding: .5rem;
}

.weibo-login-info {
	margin: .5rem;
	border: 1px solid #f1f1f1;
	position: relative;
	padding: .5rem;
}

.weibo-login-info .wbhead {
	position: absolute;
	left: 0;
	top: 0;
	width: 2rem;
	height: 2rem;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.tags1:BEFORE{color:#00E066;}
.tags2:BEFORE{color:#6600AA;}
.tags3:BEFORE{color:#FF0040;}
.tags4:BEFORE{color:#7A0000;}
.tags5:BEFORE{color:#00CD00;}
.tags6:BEFORE{color:#CD000C;}
.tags7:BEFORE{color:#0032CD;}
.tags8:BEFORE{color:#00B2EE;}
.tags9:BEFORE{color:#C00;}