/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
ul , li  {
	margin: 0;
	padding: 0;
	list-style: none;
}

.template {
	display: none;
}
.head {
	position: absolute;
	left:0;
	right: 0;
	top: 0;
	height: 2rem;
	line-height: 2rem;
	background-color: #41A4FF;
	color: #fff;
	font-size:.825rem;
	padding-left: .3rem;
}

.nav .upper {
	position: absolute;
	right: 0;
	top: 0;
	width: 3rem;
	font-size: .75rem;
	line-height: 1.5rem;
}
.nav .upper.pressed {
	background-color: #ddd;
}

.content {
	position: absolute;
	top: 2rem;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}
.content .nav {
	position: absolute;
	top:0;
	height: 1.5rem;
	left: 0;
	right: 0;
	background-color: #efefef;
	font-size: .75rem;
	line-height: 1.5rem;
	padding-left: .5rem;
}
.content .opers {
	position: absolute;
	left: 0;
	right: 0;
	height: 3rem;
	background-color: #fbfbfb;
	display: flex;
	bottom: 0;
	-webkit-transition : -webkit-transform .3s linear;
	-webkit-transform: translateY(0) translateZ(0);
}
.content .opers.down {
	-webkit-transform: translateY(3rem) translateZ(0);
}

.content .opers a:BEFORE {
	font-size: 1rem;
	display: block;	
}

.content .opers a {
	padding-top: .5rem;
	flex : 1;
	text-align: center;
	font-size: .75rem;
	color: #444;
} 
.content .opers a.pressed {
	background-color: #444;
	color: #fff;
}

.content .list {
	position: absolute;
	top: 1.5rem;
	left: 0;
	right: 0;
	bottom: 3rem;
	background-color: #fefefe;
	overflow: hidden;
}
.content .list ul li {
	position: relative;
	height: 2.5rem;
	font-size: .75rem;
	border-bottom: 1px solid #ccc;
}
.content .list ul li.pressed {
	background-color: #999;
}
.content .list ul li .icon {
	position: absolute;
	left: 2.1rem;
	width: 1.5rem;
	height: 1.5rem;
	top: .5rem;
	background-size: 1.5rem 1.5rem;
}
.content .list ul li .icon.folder {
	background-image: url('../img/folder.png');
}

.content .list ul li .icon.file {
	background-image: url('../img/file.png');
}
.content .list ul li .name {
	position: absolute;
	left:3.9rem;
	top: .5rem;
	width: 14rem;
	height: 1.8rem;
	line-height: 1.8rem;
}
.content .list ul li .check {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 1.2rem;
	padding: .5rem;
	color: #777;
	font-size: 1.25rem;
}
.content .list ul li .check.icon-check {
	color: #41a4ff;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display:none;
	background-color: rgba(0,0,0,0.8);
}
.overlay .dialog {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #efefef;
}

.overlay .dialog .title {
	text-align: center;
	font-size: .75rem;
	padding: 1rem;
}

.overlay .dialog .dlgcontent {
	padding: .5rem;
}

.overlay .dialog .dlgcontent input {
	padding: .5rem;
	width: 16rem;
	border: 1px solid #ddd;
}

.overlay .dialog .btns {
	text-align: center;
	padding: 1rem;
}
.overlay .dialog .btns a.btn {
	font-size: .75rem;
	color: #666;
	text-align: center;
	padding: .3rem 1rem;
	border: 1px solid #ddd;
	border-radius: .5rem;
}
.overlay .dialog .btns a.btn.pressed {
	background-color: #444;
	color: #fff;
}

.horiscroll {
	width: 54rem;
	height: 18rem;
}
.horiscroll li {
	position: relative;
	height: 18rem;
	width: 18rem;
	float: left;
	
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
